body {
  color: rgba(255, 255, 255, 0.5137254902);
  background: #232526;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  background: #000000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(67, 67, 67, 0.6901960784), #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-name {
  background: linear-gradient(90deg, rgb(150, 150, 150), rgba(1, 112, 152, 0.3953956583), rgba(1, 79, 118, 0.7763480392), rgb(150, 150, 150) 100%);
  -webkit-background-clip: text;
  background-clip: tex;
  -webkit-text-fill-color: transparent;
}
.navbar-secondary-name {
  background: linear-gradient(90deg, rgb(2, 0, 36) 8%, rgb(0, 0, 0) 25%, rgba(1, 79, 118, 0.7763480392) 41%, rgba(1, 112, 152, 0.3953956583) 71%, rgb(150, 150, 150) 100%);
  -webkit-background-clip: text;
  background-clip: tex;
  -webkit-text-fill-color: transparent;
}

.navbutton {
  background-color: rgba(0, 0, 0, 0.1843137255);
  color: rgba(255, 255, 255, 0.5137254902);
}
.navbutton:hover {
  background-color: rgba(116, 116, 116, 0.3490196078);
}
.navbutton:after {
  background: #589ab4;
}

.link-button {
  background-color: rgba(0, 0, 0, 0.1843137255);
  color: rgba(255, 255, 255, 0.5137254902);
}
.link-button:hover {
  background-color: rgba(116, 116, 116, 0.3490196078);
}

a {
  color: rgba(255, 255, 255, 0.5137254902);
}

.footer {
  color: rgba(0, 174, 255, 0.337254902);
  background-color: rgba(0, 174, 255, 0.0352941176);
}

@media screen and (max-width: 900px) {
  .navbutton {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.5137254902);
  }

  .link-button {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.5137254902);
  }
}
#mobileMenu {
  display: none;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 100px;
  padding: 15px;
  border-radius: 10px;
  justify-content: space-between;
  margin-right: 5px;
  align-items: center;
  z-index: 3;
}
.navbar-element {
  border: 1px solid transparent;
  border-radius: 6px;
}
.navbar-core {
  display: flex;
  justify-content: space-around;
}
.navbar-name {
  position: absolute;
  font-size: 36px;
  padding-left: 50px;
  padding-top: 50px;
  transform: rotate(15deg) scale(1.5) translateX(10px);
}
.navbar-secondary-name {
  font-size: 36px;
}
.navbar-logotype {
  display: flex;
  height: 200px;
}
.navbar-logo {
  position: relative;
  z-index: -2;
  width: 150px;
  height: 150px;
  transform: translateY(50px) translateX(150px);
  -webkit-animation: out 1s;
  animation: out 1s;
}
.navbar-logo:hover {
  transform: translateY(60px) translateX(160px) scale(1.4);
  -webkit-animation: in 1s;
  animation: in 1s;
}

@media screen and (max-width: 900px) {
  .navbar {
    display: none;
  }

  #mobileMenu {
    display: none;
    height: 50vh;
    float: left;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0;
    top: 4rem;
    margin-left: 0.3rem;
  }
  #mobileMenu-core {
    display: flex;
    flex-direction: column;
  }
  #mobileMenu-logotype {
    height: 100px;
  }
  #mobileMenu-name {
    font-size: 1em;
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    left: 10%;
  }
  #mobileMenu-logo {
    display: none;
  }
  #mobileMenu .navbutton {
    font-size: 1em;
    text-align: left;
  }
}
.navbutton {
  position: relative;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  transition-duration: 0.5s;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50px;
}
.navbutton:hover {
  border-radius: 10px;
  transform: rotate(5deg) scale(1.2);
}
.navbutton:after {
  content: "";
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -40px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.6s;
  border-radius: 6px;
}
.navbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  border-radius: 6px;
}

.link-button {
  position: relative;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  transition-duration: 0.5s;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 25px;
}
.link-button:hover {
  border-radius: 10px;
  transform: rotate(5deg) scale(1.2);
}
.link-button:after {
  content: "";
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -40px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.6s;
  border-radius: 6px;
}
.link-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  border-radius: 6px;
}

.hamburger {
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 4;
}
.hamburger:focus > .hamburger__container {
  box-shadow: 0 0 2px 2px #51a7e8;
}
.hamburger:focus, .hamburger__container:focus {
  outline: none;
}
.hamburger__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}
.hamburger__bars {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #000;
  transition: transform 220ms ease-in-out;
}
.hamburger__bars::before, .hamburger__bars::after {
  display: block;
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #000;
  content: "";
}
.hamburger__bars::before {
  top: -12px;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
}
.hamburger__bars::after {
  bottom: -12px;
  transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
}
.hamburger--active .hamburger__bars {
  transform: rotate(225deg);
  transition: transform 220ms 120ms ease-in-out;
}
.hamburger--active .hamburger__bars::before {
  top: 0;
  transition: top 100ms ease-out;
}
.hamburger--active .hamburger__bars::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
}

@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
}
body {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main {
  position: absolute;
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  z-index: 1;
  background-image: url(/images/bear-pawprint-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: center;
}
.main-content {
  margin-left: 50px;
  font-size: 1.5rem;
  width: 100%;
}
.main-header {
  font-size: 2rem;
  text-align: center;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  text-align: center;
  margin-top: 25px;
}

.contact-link {
  text-decoration: none;
}

#contact-list {
  list-style: none;
  font-size: 30px;
}

.skills-list-element {
  list-style-type: none;
  font-size: 28px;
}

.skills-list-element:hover {
  color: rgb(241, 241, 210);
}

@media screen and (max-width: 900px) {
  body {
    width: 100vw;
  }

  .main {
    display: block;
    text-align: left;
    max-width: 100vw;
    margin-left: 0.5vw;
    margin-top: 0.5vh;
  }
}
.animationDisplayBlock {
  -webkit-animation: smoothDisplayBlock 1s linear forwards;
          animation: smoothDisplayBlock 1s linear forwards;
}

/*You should set the width and height according to the size of your element*/
@-webkit-keyframes smoothDisplayBlock {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes smoothDisplayBlock {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes in {
  from {
    -webkit-transform: translateY(50px) translateX(150px);
  }
  to {
    -webkit-transform: translateY(60px) translateX(160px) scale(1.4);
  }
}
@keyframes in {
  from {
    -webkit-transform: translateY(50px) translateX(150px);
  }
  to {
    -webkit-transform: translateY(60px) translateX(160px) scale(1.4);
  }
}
@-webkit-keyframes out {
  0% {
    -webkit-transform: translateY(60px) translateX(160px) scale(1.4);
  }
  100% {
    -webkit-transform: translateY(50px) translateX(150px);
  }
}
@keyframes out {
  0% {
    -webkit-transform: translateY(60px) translateX(160px) scale(1.4);
  }
  100% {
    -webkit-transform: translateY(50px) translateX(150px);
  }
}
* {
  scroll-behavior: smooth;
}/*# sourceMappingURL=main.css.map */