body {
  color: rgba(255, 255, 255, 0.5137254902);
  background: #232526;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  background: #000000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-name {
  color: rgba(255, 255, 255, 0.6784313725);
}

.navbutton {
  background-color: rgba(0, 0, 0, 0.1843137255);
  color: rgba(255, 255, 255, 0.5137254902);
}
.navbutton:hover {
  background-color: rgba(116, 116, 116, 0.3490196078);
}
.navbutton:after {
  background: #589ab4;
}

.link-button {
  background-color: rgba(0, 0, 0, 0.1843137255);
  color: rgba(255, 255, 255, 0.5137254902);
}
.link-button:hover {
  background-color: rgba(116, 116, 116, 0.3490196078);
}

a {
  color: rgba(255, 255, 255, 0.5137254902);
}

.footer {
  color: rgba(0, 174, 255, 0.337254902);
  background-color: rgba(0, 174, 255, 0.0352941176);
}

.navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 100px;
  padding: 15px;
  position: fixed;
  border-radius: 10px;
  justify-content: space-between;
  margin-right: 5px;
  align-items: center;
  z-index: 3;
}
.navbar-element {
  border: 1px solid transparent;
  border-radius: 6px;
}
.navbar-core {
  display: flex;
  justify-content: space-around;
}
.navbar-name {
  position: absolute;
  font-size: 36px;
  padding-left: 50px;
  padding-top: 50px;
  transform: rotate(15deg) scale(1.5) translateX(10px);
}
.navbar-logo {
  display: flex;
  height: 200px;
}
.navbar .logo {
  position: relative;
  z-index: -2;
  width: 150px;
  height: 150px;
  transform: translateY(50px) translateX(150px);
}

@media screen and (max-width: 900px) {
  .navbar {
    display: flex;
    height: 100%;
    float: left;
    flex-direction: column;
    width: 25%;
    padding: 0;
    justify-content: flex-start;
  }
  .navbar-core {
    flex-direction: column;
  }
  .navbar-logo {
    height: 100px;
  }
  .navbar-name {
    font-size: 1em;
    position: static;
    padding-left: 20px;
    padding-top: 20px;
  }
  .navbar .logo {
    display: none;
  }
  .navbar .navbutton {
    font-size: 0.8em;
    text-align: left;
  }
}
.navbutton {
  position: relative;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  transition-duration: 0.5s;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50px;
}
.navbutton:hover {
  border-radius: 10px;
  transform: rotate(5deg) scale(1.2);
}
.navbutton:after {
  content: "";
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -40px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.6s;
  border-radius: 6px;
}
.navbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  border-radius: 6px;
}

.link-button {
  position: relative;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  transition-duration: 0.5s;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 25px;
}
.link-button:hover {
  border-radius: 10px;
  transform: rotate(5deg) scale(1.2);
}
.link-button:after {
  content: "";
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -40px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.6s;
  border-radius: 6px;
}
.link-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  border-radius: 6px;
}

body {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main {
  position: absolute;
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  z-index: 1;
  background-image: url(/images/bear-pawprint-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: center;
}
.main-content {
  margin-left: 50px;
  font-size: 1.5rem;
  max-width: 100%;
}
.main-header {
  font-size: 2rem;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  text-align: center;
  margin-top: 25px;
}

.contact-link {
  text-decoration: none;
}

#contact-list {
  list-style: none;
  font-size: 30px;
}

.skills-list-element {
  list-style-type: none;
  font-size: 28px;
}

.skills-list-element:hover {
  color: rgb(241, 241, 210);
}

@media screen and (max-width: 900px) {
  .main {
    display: flex;
    justify-content: space-around;
    max-width: 75%;
    margin-left: 25%;
  }
}
* {
  scroll-behavior: smooth;
}/*# sourceMappingURL=main.css.map */