    .animationDisplayBlock {
        animation: smoothDisplayBlock 1s linear forwards;
    }

    /*You should set the width and height according to the size of your element*/
    @keyframes smoothDisplayBlock {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 0.25;
        }

        50% {
            opacity: 0.5;
        }

        75% {
            opacity: 0.75;
        }

        100% {
            opacity: 1;
        }
    }

    //Scale up Animation//  !!not used!!
    @-webkit-keyframes in {
        from {
            -webkit-transform: translateY(50px) translateX(150px);
        }

        to {
            -webkit-transform: translateY(60px) translateX(160px) scale(1.4);
        }
    }

    @keyframes in {
        from {
            -webkit-transform: translateY(50px) translateX(150px);
        }

        to {
            -webkit-transform: translateY(60px) translateX(160px) scale(1.4);
        }
    }

    @-webkit-keyframes out {
        0% {
            -webkit-transform: translateY(60px) translateX(160px) scale(1.4);
        }

        100% {
            -webkit-transform: translateY(50px) translateX(150px);
        }
    }

    @keyframes out {
        0% {
            -webkit-transform: translateY(60px) translateX(160px) scale(1.4);
        }

        100% {
            -webkit-transform: translateY(50px) translateX(150px);
        }
    }