    .animationDisplayBlock {
        animation: smoothDisplayBlock 1s linear forwards;
    }

    /*You should set the width and height according to the size of your element*/
    @keyframes smoothDisplayBlock {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 0.25;
        }

        50% {
            opacity: 0.5;
        }

        75% {
            opacity: 0.75;
        }

        100% {
            opacity: 1;
        }
    }

    //Scale up Animation//  !!not used!!
    @-webkit-keyframes in {
        from {
            -webkit-transform: translateY(50px) translateX(150px);
        }

        to {
            -webkit-transform: translateY(60px) translateX(160px) scale(1.4);
        }
    }

    @keyframes in {
        from {
            -webkit-transform: translateY(50px) translateX(150px);
        }

        to {
            -webkit-transform: translateY(60px) translateX(160px) scale(1.4);
        }
    }

    @-webkit-keyframes out {
        0% {
            -webkit-transform: translateY(60px) translateX(160px) scale(1.4);
        }

        100% {
            -webkit-transform: translateY(50px) translateX(150px);
        }
    }

    @keyframes out {
        0% {
            -webkit-transform: translateY(60px) translateX(160px) scale(1.4);
        }

        100% {
            -webkit-transform: translateY(50px) translateX(150px);
        }
    }

    //not used//
    @keyframes fadeInFromLeft {
        0% {
            transform: translateX(-2000px) scale(0.6);
            opacity: 0.7;
        }

        80% {
            transform: translateX(50px) scale(0.7);
            opacity: 0.7;
        }

        to {
            transform: translateX(0) scale(1);
            opacity: 1;
        }
    }

    //not used//
    @keyframes fadeInFromRight {
        0% {
            transform: translatey(5000px) scale(0.6);
            opacity: 0.7;
        }

        80% {
            transform: translatey(-50px) scale(0.7);
            opacity: 0.7;
        }

        to {
            transform: translatey(0) scale(1);
            opacity: 1;
        }
    }

    //do uzyciia//
    .fadeInFromLeft {
        animation-duration: 1000ms;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        animation-delay: none;
    }

    .fadeInFromRight {
        animation-duration: 1000ms;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: ease;
        animation-delay: 600ms;
    }

    .fadeInFromLeft {
        animation-name: fadeInFromLeft;
    }

    .fadeInFromRight {
        animation-name: fadeInFromRight;
    }

    //...//