$primaryText: #ffffff83;

$backgroundMain: rgba(85, 85, 85, 0.63);

$backgroundElements: #000000;

$buttonBackground: #00000000;

$buttonHover: #74747459;

$buttonHoverOnClick: #589ab4;

$navbarName: #ffffffad;

$backgroundImage: url(/images/bear-pawprint-svgrepo-com.svg);

$footerText: #00aeff56;

$footerBackground: #00aeff09;

$buttonBackgroundMobile: rgb(0, 0, 0);

// Primary Name on Navbar ( with gradient) //
$primaryNavbarNameColor: linear-gradient(90deg, rgb(150, 150, 150), rgba(1, 112, 152, 0.39539565826330536), rgba(1, 79, 118, 0.7763480392156863), rgb(150, 150, 150) 100%);
// Secondary Name on Navbar ( with gradient) //
$secondaryNavbarNameColor: linear-gradient(90deg, rgba(2, 0, 36, 1) 8%, rgb(0, 0, 0) 25%, rgba(1, 79, 118, 0.7763480392156863) 41%,
        rgba(1, 112, 152, 0.39539565826330536) 71%, rgb(150, 150, 150) 100%);

body {
    color: $primaryText;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.navbar {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343b0, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343b0, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    //color of the name //
    &-name {
        background: $primaryNavbarNameColor;
        -webkit-background-clip: text;
        background-clip: tex;
        -webkit-text-fill-color: transparent;
    }

    &-secondary-name {
        background: $secondaryNavbarNameColor;
        -webkit-background-clip: text;
        background-clip: tex;
        -webkit-text-fill-color: transparent;
    }

    &-secondary-name-mobile {
        background: $secondaryNavbarNameColor;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.navbutton {
    background: $buttonBackground ;
    color: $primaryText;

    &:hover {
        background-color: $buttonHover;
    }

    &:after {
        background: $buttonHoverOnClick;
    }
}




.link-button {
    background-color: $buttonBackground;
    color: $primaryText;

    &:hover {
        background-color: $buttonHover;
    }
}

a {
    color: $primaryText;
}

.footer {
    color: $footerText;
    background-color: $footerBackground
}

@media screen and (max-width: 900px) {

    .navbutton-mobile {
        background-color: $buttonBackgroundMobile ;
        color: $primaryText;



    }

    .link-button {
        background-color: $buttonBackgroundMobile ;
        color: $primaryText;
    }
}