$primaryText: #00ff62;
$backgroundMain: rgba(85, 85, 85, 0.63);
$backgroundElements: #000000;
$buttonBackground: #00000000;
$buttonHover: #67796759;
$buttonHoverOnClick: #589ab4;

body {
    color: $primaryText;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.navbar {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: $primaryText;
}

.button {
    background-color: $buttonBackground ;
    color: $primaryText;
}