//Buttons in navbar //

.navbutton {
    position: relative;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    transition-duration: 0.5s;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50px;


    &:hover {

        border-radius: 10px;
        transform: rotate(5deg) scale(1.2);


    }

    &:after {
        content: "";

        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -40px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.6s;
        border-radius: 6px;
    }

    &:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
        border-radius: 6px;
    }
}

//buttons on contact page //
.link-button {
    position: relative;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    transition-duration: 0.5s;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 25px;


    &:hover {

        border-radius: 10px;
        transform: rotate(5deg) scale(1.2);


    }

    &:after {
        content: "";

        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -40px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.6s;
        border-radius: 6px;
    }

    &:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
        border-radius: 6px;
    }

}


//hamburger//
.hamburger {
    position: relative;
    top: 2rem;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;

    &:focus {
        &>.hamburger__container {
            box-shadow: 0 0 2px 2px #51a7e8;
        }
    }

    &,
    &__container {
        &:focus {
            outline: none;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        position: relative;
        width: 35px;
        height: 30px;
    }

    &__bars {
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #000;
        transition: transform 220ms ease-in-out;

        &::before,
        &::after {
            display: block;
            position: absolute;
            width: 35px;
            height: 2px;
            background-color: rgb(255, 255, 255);
            content: "";
        }

        &::before {
            top: -12px;
            transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
        }

        &::after {
            bottom: -12px;
            transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
        }
    }

    &--active {
        .hamburger__bars {
            transform: rotate(225deg);
            transition: transform 220ms 120ms ease-in-out;

            &::before {
                top: 0;
                transition: top 100ms ease-out;
            }

            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
            }
        }
    }
}

//mobile button
.navbutton-mobile {
    margin-top: 0.4rem;
    font-size: 10px;
    text-align: center;
    position: relative;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    transition-duration: 0.5s;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
    transform: translatey(40px) translateX(5vw);
  


}

//hamburger show state//
@media screen and (min-width: 900px) {
    .hamburger {
        display: none;
    }
}