body {



    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    



}

// Main content //
.main {
    position: relative;
    margin-top: 150px;
    height: 80vh;
    z-index: 0;
    background-image: $backgroundImage;
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: center;




    &-content {

        font-size: 1.6rem;
        position: relative;
        margin: 2vw;




    }

    &-header {
        font-size: 2rem;
        text-align: center;

    }

}

// scroll script classes//
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

//footer//


.footer {
    width: 80vw;
    bottom: 5px;
    position: fixed;
    text-align: center;
   


}

// contact//
.contact-link {
    text-decoration: none;

}

#contact-list {

    list-style: none;
    font-size: 30px;
    text-align: center;

    //skills list//

}


.skills-list {
    text-align: center;
}

.skills-list-element {
    list-style-type: none;
    font-size: 28px;


}

.skills-list-element:hover {

    color: rgb(241, 241, 210);

}

#mobile-header {
    display: none;
}



@media screen and (max-width: 900px) {
    body {
        width: 100%;
    }

    .main {
        display: block;
        text-align: left;
        max-width: 100vw;
        margin-left: 0.5vw;
        margin-top: 0.5vh;
        top: 5rem;




    }

    #mobile-header {
        position: relative;
        display: inline;
        font-size: 3rem;
        left: 3rem;
        top: 2rem;
        z-index: 0;
    }

}