//navbar as a whole
#mobileMenu {
    display: none;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 100px;
    padding: 15px;
    top: 3px;

    border-radius: 10px;
    justify-content: space-between;
    margin-right: 5px;
    align-items: center;
    z-index: 3;


    //navbar element styling//
    &-element {

        border: 1px solid transparent;
        border-radius: 6px;

    }

    //navbar buttons//
    &-core {
        display: flex;
        justify-content: space-around;
    }

    //name/icon (logotype) on the navbar //
    &-name {
        position: absolute;
        font-size: 36px;
        padding-left: 50px;
        padding-top: 50px;
        transform: rotate(15deg) scale(1.5) translateX(10px);

    }

    &-secondary-name {
        font-size: 36px;

    }





    &-logotype {
        display: flex;
        height: 200px;


    }


    // animated paw logo //
    &-logo {
        position: relative;
        z-index: -2;
        width: 150px;
        height: 150px;
        transform: translateY(50px) translateX(150px);
        -webkit-animation: out 1s;
        animation: out 1s;




        &:hover {
            transform: translateY(60px) translateX(160px) scale(1.4);
            -webkit-animation: in 1s;
            animation: in 1s;



        }

    }



}



//navbar on mobile //
@media screen and (max-width: 900px) {
    .navbar {
        display: none;


        &-element {
            border: 1px solid transparent;
            border-radius: 6px;

        }

        &-secondary-name-mobile {
            font-size: 36px;
        }

        #mobileMenu {
            display: none;
            position: fixed;
            z-index: 4;
            top: 2.3rem;
        }

        .navbar-mobile {
            &-core {

                top: 4rem;
                flex-direction: column;
                justify-content: space-around;

            }
        }



    }
}