//navbar as a whole
#mobileMenu {
    display: none;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: 10vh;
    padding: 1%;
    top: 1.5vh;
    left: 1.5vw;
    z-index: 3;
   

    //zaokrąglenie rogów navbara//
    border-radius: 4px 200px 200px 4px;
    // ...//
    justify-content: space-between;

    align-items: center;
    


    //navbar element styling//
    &-element {

        border: 1px solid transparent;
        border-radius: 6px;

    }

    //navbar buttons//
    &-core {
        display: flex;
        justify-content: space-around;
    }

    //name/icon (logotype) on the navbar //
    &-name {
        position: absolute;
        font-size: 2rem;
        padding-left: 50px;
        padding-top: 50px;
        transform: rotate(15deg) scale(1.5) translateX(10px);

    }



    &-secondary-name {
        position: relative;
        font-size: 2rem;

    }

    &-secondary-name:after {
        content: '';
        width: 0;
        height: 4px;
        position: absolute;
        bottom: -4px;
        right: 0;

        transition: width 1s, left 0.5s ease-in-out;
    }

    &-secondary-name:hover::after {
        width: 100%;
        left: 0;
    }


    &-logotype {
        display: flex;
        height: 200px;


    }


    // animated paw logo //
    &-logo {
        position: relative;
        z-index: -2;
        width: 150px;
        height: 150px;
        transform: translateY(50px) translateX(150px);
        transition: 1s all ease;




        &:hover {
            transform: translateY(60px) translateX(160px) scale(1.4);




        }

    }



}



//navbar on mobile //
@media screen and (max-width: 899px) {
    .navbar {
        display: none;


        &-element {
            border: 1px solid transparent;
            border-radius: 6px;

        }

        &-secondary-name-mobile {
            font-size: 36px;
        }

        #mobileMenu {
            display: none;
            position: absolute;
            z-index: 4;
            top: 2.3rem;
        }

        .navbar-mobile {
            &-core {
                position: relative;
                top: 4rem;
                flex-direction: column;
                justify-content: space-around;

            }
        }



    }


    #mobile-name {

        font-size: 2rem;
        position: absolute;
        top: 10vh;
        left: 10vh;
        transform: translate(10vw, -10vw) rotate(15deg);
    }
}

@media screen and (max-width: 1599px) {
    .navbar-secondary-name {

        display: none;

    }
}