.navbar {

    display: flex;
    flex-direction: row;
    width: 98%;
    height: 100px;
    padding: 0px 15px 0 15px;
    position: fixed;
    border-radius: 10px;
    justify-content: space-between;
    margin-right: 5px;
    align-items: center;

    &-element {
        
        border: 1px solid transparent;
        border-radius: 4px;

    }

    &-core {
        display: flex;
        justify-content: space-around;
    }

    .name {
        display: block;
        font-size: 36px;
        width: max-content;
    }

}
@media screen and  (max-width: 900px) {
    .navbar {
        width: 150px;
        height: 100%;
        float: left;
        flex-direction: column;
        justify-content: flex-start;
        width: max-content;

    &-core {
        flex-direction: column;
    }
    }
    .navbutton {
        text-align: left;
    }


    


}